<% if user_signed_in? %>
  <%= form_with url: url, method: :post, scope: :new_like, local: true do |f| %>
    <span><%= f.submit "likes ðŸ’• :#{@post.likes_counter}",
                      disable_with: "likes ðŸ˜ : #{@post.likes_counter}" %></span>
  <% end %>
<% else %>
  <span><%= "likes ðŸ’• :#{@post.likes_counter}" %></span>
<% end %>
