<div class="badge bg-secondary d-flex w-25 align-items-center gap-2">
  <div class="d-grid place-items-center">
    <img class='badge-image rounded-circle' src="https://randomuser.me/api/portraits/thumb/women/52.jpg" >
  </div>
  <strong class='fs-3'><%= user.name %></strong>
</div>
