<%= render "users/user_card", user: @user %>
<%= render "post_card", posts: @posts, comments: true %>
<div class="text-center my-5 apple_pagination">
  <%= will_paginate @articles, container: false, page_links: false %>
</div>
