.user-image {
    width: 200px !important;
    height: 200px !important;
}

.user-detail {
    height: 200px !important;

    .user-name {
        font-size: 4rem;
    }
}

.badge-image {
    height: 20px;
    width: 20px;
}